body{
    background-image:url(./images/backgorund.png);
    background-repeat: no-repeat;    
}

ul{
    list-style-type:none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;

